
body {
    min-width:1200px;
}

#main {
    background: ghostwhite;
    margin-left: 200px;
    margin-right: 200px;
}

.hide {
    display: none;
}

.messages {
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.message_info {
    margin-left: 10px;
}

#content {
    margin-left: 150px;
}